.join {
    background-color: white;
    padding: 60px;
    border-radius: 15px 15px 0 0;
}

.join-title {
    color: var(--teal500);
    font-weight: 700;
}

.join-name {
    color: var(--green400);
    margin-block: 32px;
    padding-block: 20px;
}

.join-text {
    color: var(--gray400);
    line-height: 150%;
}


.subscription {
    background-color: var(--teal500);
    padding: 50px;
    color: var(--teal100)
}

.subscription-button {
    font-size: 24px;
    background-color: var(--green400);
    width: 100%;
    padding-block: 20px;
    color: var(--teal100);
    font-weight: bold;
    border-radius: 10px;
    border-color: var(--green400);
    margin-top: 35px;
}





@media(min-width: 650px) {

}