.container {
    background-color: var(--white);
    max-width: 750px;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.493);
    border-radius: 15px;

    display: grid;
}

@media(min-width: 650px) {
    .container {
        margin-block: 50px;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 325px);
    }
}