html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
  /* Primary colors */
  --teal500: hsl(179, 62%, 43%);
  --green400: hsl(71, 73%, 54%);

  /* Neutral colors */
  --teal100: hsl(204, 43%, 93%);
  --gray400: hsl(218, 22%, 67%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--teal100);

  /* Font */
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


